:root {
  --color-tan: #e3cdb1;
  --color-grey: #86848f;
  --color-light-grey: #bbb9c6;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    font-size: 24px;
  }
  
.nav-logo {
  font-weight: bold;
}

.nav-logo span {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.ham-menu-large {
  display: none;
}

.ham-menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.ham-menu-icon span {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.menu-overlay ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.menu-overlay ul li {
  margin: 20px 0;
}

.menu-overlay ul li a {
  text-decoration: none;
  font-size: 80px;
  color: black;
}

.menu-overlay .close {
  font-size: 75px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.menu-overlay.active {
  transform: translateX(0);
}

@media (min-width: 800px) {
  nav a {
    color: inherit;
    text-decoration: none;
  }
  .ham-menu {
    display: none;
  }
  .ham-menu-icon {
    display: none;
  }

  .ham-menu-large {
    display: flex;
  }
  .ham-menu-large ul {
    display: flex;
    gap: 10rem;
    text-decoration: none;
    list-style: none;
    color: black;
  }
}

/*WRAPPER*/

.wrapper {
    padding: 2rem;
}

/*HERO-SECTION*/

.hero-section {
  height: 100vh;
  background-image: url(./img/cake.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: right center;
  position: relative;
  margin-bottom: -400px;
  margin-top: -500px;
  background-position: right -10% center;
  overflow: visible;
}

.content-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -40%);
  text-align: center;
  color: #000;
}

.content-overlay h1 {
  font-family: Playfair Display;
  font-size: 60px;
  font-weight: 700;
  line-height: 79.98px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-overlay ul {
  display: flex;
  gap: 3rem;
  padding-left: 2rem;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: var(--color-grey);
}

.content-overlay p {
  color: var(--color-grey);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.first-word {
  color: #000;
}

.content-overlay .decoration1 {
  list-style-image: url(./img/Level-Icon.svg);
}

.content-overlay .decoration2 {
  list-style-image: url(./img/Servings-Icon.svg);
}

.content-overlay .decoration3 {
  list-style-image: url(./img/Preparation-Icon.svg);
}

/*INGREDIENTS OG METHOD*/
.ingredients-method {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 3rem;
}

/* INGREDIENTS*/

.ingredients {
  flex: 1;
}

/*METHOD*/

.method {
  flex: 2;
}

.method h2 {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 53.32px;
  text-align: left;
  color: var(--color-light-grey);
}

.method p {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
  color: var(--color-grey);
}

.ingredients h2 {
  color: var(--color-light-grey);
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 53.32px;
  text-align: left;

}

.ingredients h3 {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #000;
}

.ingredients ul {
  list-style: none;
  padding-inline-start: 0px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  line-height: 17px;
  text-align: left;
  color: var(--color-light-grey);
  margin-bottom: 3rem;
}

.ingredients ul li {
  margin-top: 1rem;
}

.ingredients ul li strong {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: var(--color-tan);
}

.cards {
  display: flex;
  flex-direction:row;
  justify-content: space-evenly;

}

.card {
  text-align: left;
}
  
.card h3 {
  font-size: 24px;
}
  .card-content .month-name p {
    color: var(--color-light-grey);
  }
  
.card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tan-a-link {
  color: var(--color-tan);
}
.card-content a {
  text-decoration: none;
}
  
.card-content p {
  font-size: 22px;
  color: var(--color-tan);
  text-decoration: none;

}
  
.card-picture img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
}

/*LATEST RECIPES*/

.tan-p {
  color: var(--color-tan);
  margin-bottom: 0rem;
}

.Group-10 h2 {
  font-family: Playfair Display;
  font-size: 40px;
  font-weight: 700;
  line-height: 53.32px;
  text-align: left;
  margin-top: 0.3rem;
}

.Group-10 h2 .greystart {
  color: var(--color-light-grey);
}
/*FOOTER*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

footer p {
  margin-top: 3rem;
  margin-bottom: 0px;
  color: var(--color-tan);
}

footer h2 {
  margin-top: 0px;
  padding-bottom: 1rem;
}

footer .subscribe {
  background-color: black;
  color: white;
  unicode-bidi: isolate;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-wrap: wrap;
}

footer .subscribe h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
  font-size: 42px;
}

footer .subscribe p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-top: 0px;
}

footer .subscribe-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  unicode-bidi: isolate;
  
}

footer .email-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe .email-section .subscribe {
  justify-content: left;
  padding-bottom: 0px;
}

footer .subscribe input[type="email"] {
  border: none;
  border-bottom: 2px solid #c9a27c;
  background: none;
  color: white;
  padding-bottom: 0px;
  padding-right: 1rem;
  font-size: 24px;
  outline: none;
  width: 100%;
  max-width: 300px;
  margin: 0 auto 20px auto;
  display: block;
  text-align: left;
  font-weight: bold;
}

.subscribe input[type="email"] {
  font-size: 24px;
  text-align: left;
  padding-bottom: 0px;
  padding-right: 1rem;
}

footer .email {
  text-align: left;
}

footer .socials p {
  color: black;
  font-size: 18px;
}

footer .socials .socials-icons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
footer .subscribe button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 24px;
}

button {
  border: 2px solid #c9a27c;
  background-color: transparent;
  color: #c9a27c;
  font-size: 16px;
  padding: 10px 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 3rem;
}