* {
    margin: 0;
    padding: 0;
}

:root {
    --font-base-size: 1rem;
    --font-family-base: 'Poppins';
    --font-family-heading: 'Playfair-Display';

}


@font-face {
    font-family: 'Playfair-Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf) format(woff2);
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 350;
    font-display: swap;
    src: url(./fonts/Poppins-Thin.ttf) format(woff2);
}

h1,
h2{
    font-family: var(--font-family-heading);
}

html,
input,
select,
button {
    font-family: var(--font-family-base);
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fafafa;
    position: relative;
    
    
}


.wrapper-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
    position: sticky;
    z-index: 1000;
    top: 0;
    background-color: white;
}



nav {
    margin-top: 1rem;
}

.nav-logo {
    margin-left: 20rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: black;
    margin-right: 21rem;
}

nav ul li {
    display: inline;
    
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: 600;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

header h1 {
    font-size: 3rem;
}

.vinstri {
    display: flex;
    flex-direction: column;
    margin-left: 20rem;
}

.subtitle {
    color: #e3cdb1;
}

.hægri {
    display: flex;
    align-items: center;
    margin-right: 20rem;
    margin-top: 3rem;
}


header label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
}



.wrapper-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 1rem;
    background-color: transparent;
}

main {
    padding: 20px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 100%;
    padding: 1rem;
    border-radius: 10px;
}


.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    padding: 1rem;
}

.card .month-title {
    display: flex;
    flex-direction: column;
}

.card .month-title p{
    font-size: 0.9rem;
    margin: 0;
    margin-top: 1rem;
}

.card h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.card .read-more {
    font-size: 0.8rem;
    align-items: flex-end;
    margin-top: 2.8rem;
    color: #e3cdb1;
}

.button-all {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    background-color:#fafafa;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 1rem;
}

.lina {
    flex: 1;
    height: 1px;
    background-color: #e3cdb1;
    margin: 0 10px;
    margin-left: 5rem;
    margin-right: 5rem;
}

.aðal {
    padding: 10px 20px;
    border: 2px solid #e3cdb1;
    background-color:#fafafa ;
    color: #e3cdb1;
    cursor: pointer;
    transition: background-color 1s ease;
}

.aðal:hover {
    background-color: black;
    color: #e3cdb1;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  footer p {
    margin-top: 3rem;
    margin-bottom: 0px;
    color: var(--color-tan);
  }
  
  footer h2 {
    margin-top: 0px;
    padding-bottom: 1rem;
  }
  
  footer .subscribe {
    background-color: black;
    color: white;
    unicode-bidi: isolate;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  footer .subscribe h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 42px;
  }
  
  footer .subscribe p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 0px;
    color: #e3cdb1;
  }
  
  footer .subscribe-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    unicode-bidi: isolate;
    
  }
  
  footer .email-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .subscribe .email-section .subscribe {
    justify-content: left;
    padding-bottom: 0px;
  }
  
  footer .subscribe input[type="email"] {
    border: none;
    border-bottom: 2px solid #c9a27c;
    background: none;
    color: white;
    padding-bottom: 0px;
    padding-right: 1rem;
    font-size: 24px;
    outline: none;
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px auto;
    display: block;
    text-align: left;
    font-weight: bold;
  }

  
  .subscribe input[type="email"] {
    font-size: 24px;
    text-align: left;
    padding-bottom: 0px;
    padding-right: 1rem;
  }
  
  footer .email {
    text-align: left;
  }
  
  footer .socials p {
    color: black;
    font-size: 18px;
  }
  
  footer .socials .socials-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  footer .subscribe button {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 1s ease;
  }

  footer .subscribe button:hover {
    background-color: #e3cdb1;
    color: black;
  }
  
  footer button {
    border: 2px solid #c9a27c;
    background-color: transparent;
    color: #c9a27c;
    font-size: 16px;
    padding: 10px 60px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 3rem;
  }


