.book {
    background: linear-gradient(to bottom, #e3cdb1 70%, #ffffff 30%);
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  .book-button {
    margin-bottom: 3rem;
  }
  
  .book .card {
    text-align: center;
  }
  
  .book h2 {
    font-size: 32px;
  }
  
  .book p {
    font-size: 24px;
  }