button {
  border: 2px solid #c9a27c;
  background-color: transparent;
  color: #c9a27c;
  font-size: 16px;
  padding: 10px 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 3rem;
}
  
.button {
  text-align: center;
}
  
.div-button {
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
